@font-face {
    font-family: "norse-bold";
    src: url(font/Norse-Bold.otf) format("opentype");
}

body {
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
}

.left-side {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    background-image: url(images/illia-plakhuta-V1gfvXw1g7I-unsplash.jpg);
    background-size: cover;
}

.left-side>.sidebar {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background: rgba(0, 0, 0, 0.3);

}

.left-side>.sidebar>img {
    height: 80%;
}

.left-side>.sidebar>.logo-text {
    color: white;
    font-family: "norse-bold", Arial, Helvetica, sans-serif;
    font-size: 7vw;
}

.left-side>.footer {
    position: absolute;
    inset: auto 15% 3% 15%;
    text-align: center;
    color: black;
    font-size: clamp(1rem 1.5vw 1.5rem);
    font-weight: bold;
}

.right-side {
    height: 100vh;
    width: 60vw;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
}

.right-side>.header {
    min-height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 3% 0 0 5%;
}

.right-side>.header>p {
    width: 55ch;
    font-size: 1.5vw;
    font-weight: 600;
}

.right-side>.content {
    background-color: white;
    box-sizing: border-box;
    padding-left: 5%;
}

.right-side>.content>.title {
    font-size: 1.8rem;
    font-weight: bold;
}

section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}

section p {
    display: flex;
    flex-direction: column;
}

input {
    border-color: #E5E7EB;
    border-radius: 5px;
    padding: 5px;
    width: 40ch;
}

/* input:valid {
    border-color: rgb(0, 191, 255);
}

input:invalid {
    border-color: red;
} */

input:focus {
    border-color: rgb(0, 191, 255);
    outline: none;
}

.right-side>.footer {
    min-height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
}

button {
    margin-top: 30px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgb(38, 129, 160);
    font-weight: bolder;
}

.right-side>.footer>p {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: rgb(38, 129, 160);
}


@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .left-side {
        height: 30vh;
        width: 100vw;
    }

    .right-side {
        height: 70vh;
        width: 100vw;
    }
}